.services {
    padding: 0 9rem 0 9rem;
    display: flex;
    height: 90vh;
    margin-bottom: 10rem;
    margin-top: 8rem;
    margin-left: -1rem;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -1rem;
}

.awesome>:nth-child(1) {
    color: black;
    font-size: 4rem;
    font-weight: bold;
}

.awesome>:nth-child(2) {
    color: orange;
    font-size: 4rem;
    font-weight: bold;
}

.awesome>:nth-child(3) {
    font-size: 18px;
    margin-top: 1.5rem;
    font-weight: 300;
}

.s-button {
    width: 11rem;
    margin-top: 2.5rem;
}

.cards {
    position: relative;
    margin-left: 100px;
}

.cards>* {
    position: absolute;
}

@media screen and (max-width: 480px) {
    .services{
        flex-direction: column;
        height: 80rem;
        padding: 3rem;
        margin-top: 12rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 24rem;
        padding-top: 3rem;
        margin-left: 0.5rem;
        
    }
    .cards>* {
        position: static;
    }
  }