.card {
    width: 18rem;
    height: 22rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid sandybrown;
    box-shadow: sandybrown;
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}

.card span:nth-of-type(1) {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.card span:nth-of-type(2) {
    color: gray;
    font-size: 16px;
}

.card>img {
    transform: scale(0.5);
    margin-bottom: -1rem;
    margin-top: 1rem;
}

.c-button {
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none; 
    padding: 10px;
    font-size: 16px;
    color: #5290FD;
    margin-top: 1rem;
}

.c-button:hover {
    cursor: pointer;
    background: #5290FD;
    cursor: pointer;
    color: white;
    border: 1px solid #5290FD;
}

@media screen and (max-width: 480px) {
    .card{
        width: auto;
    }
  }