.contact-form {
    padding: 0 9rem 0 15rem;
    display: flex;
    height: 80vh;
    margin-top: 15rem;
}

.contact-right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.contact-right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.contact-right .user{
    width: 30rem;
    height: 4rem;
    padding: 1em;
    outline: none;
    border: 2px solid sandybrown;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 8rem!important;
}

@media screen and (max-width: 480px) {
    .contact-form{
        display: flex;
        flex-direction: column;
        height: 60rem;
    }
    .contact-left{
        width: 30rem;
        margin-left: -12rem;
    }
    .contact-right{
        margin-top: 2rem;
    }
    .awesome>:nth-child(1){
        font-size: 3rem;
        margin-left: -0.8rem;
    }
    .awesome>:nth-child(2){
        font-size: 3rem;
        margin-left: -0.8rem;
    }
    .contact-right .user{
        width: 20rem;
        height: 4rem;
        padding-right: 1em;
        margin-right: 7rem;
        outline: none;
        border: 2px solid sandybrown;
        border-radius: 8px;
        font-size: 16px;
    }
    .contact-right .button{
        width: 8rem;
        margin-right: 10rem;
    }
  }