@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background: #FAF4F2;
}

.app {
  overflow: hidden;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: salmon;
}

.button:hover {
  background: white;
  cursor: pointer;
  color: salmon;
  border: 1px solid salmon;
}

@media screen and (max-width: 480px) {
  .App{
    padding: 0.5rem 1rem;
  }
}