* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background: #FAF4F2;
}

.app-header {
  padding: 22px 100px;
  height: 110px;
  background-color: rgb(246, 61, 89);
  color: #FFF;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
}
