* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background: #FAF4F2;
}

.app {
  overflow: hidden;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: salmon;
}

.button:hover {
  background: white;
  cursor: pointer;
  color: salmon;
  border: 1px solid salmon;

}